/*start font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*End font*/

/*start body*/
body {
    background-color: rgb(148, 201, 26);
    color: rgb(102, 158, 13);
    font-family:Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/*and body*/


/*start Debug*/
.bg-pink {
    background-color: rgb(245, 161, 186);
}

.bg-green {
    background-color: red;
}
/*End Debug*/ 

/*Start Container*/
.container {
    /* background-color: rgba(253, 253, 253, 0.932); */
    margin: 10px auto;
    overflow: auto; 
    width: 90%;
}
.container-full {
    background-color: rgba(253, 253, 253, 0.932);
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*End Container*/


/*start logo*/
.logo {
    text-align: center; 
}
/*End logo*/

/*Start Anchor / Hyperlink*/
a:link,
a:visited {
    color: rgb(8, 122, 8);
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/*End Anchor / Hyperlink*/

/*start Menu Primer*/
.menu-primer ul {
    background-color: palegreen;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(253, 253, 253, 0.932),
        0 6px 18px 0 rgb(148, 201, 26),
        0 1px 18px 0 rgba(253, 254, 255, 0.955);
}
.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #d1d5da;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/*End Menu Primer*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*End  Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color: rgba(253, 254, 255, 0.955);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 20px;
}
.jumbotron h1 {
    font-size: 32px;
    pedding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    pedding: 0 20px;
}
}
/*End Jumbotron*/

/*Start Main*/
.main-home-one {
    float: left;
    width: 50%;
}
.main-home-two {
    float: right;
    width: 50%;
}
/*And Main*/

/*Start Box*/
.box-heading {
    background-color: #ffffff;
    border: 1px solid #d1d5da;
    border-radius: 3px 3pc 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
/*End  Box*/